@model IEnumerable<QMS.Web.Models.Areas.AreaListModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="well well-sm">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var area in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => area.Name) </td>
                <td> @Html.DisplayFor(m => area.Description) </td>
                <td>
                    @if (area.Employee != null)
                    {
                        <a href="~/admin/users/details/@area.Employee.Id">@area.Employee.UserName</a>
                    }
                    else
                    {
                        <span>No employee yet</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = area.Id })
                </td>
            </tr>
        }
    </tbody>

</table>
