@model QMS.Web.Models.Messages.MessageCreateViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("SetUserToNoNewMessages", "Messages")

<h2>Messages</h2>

<div class="container">
    @using (Ajax.BeginForm("SendMessage", "Messages", new { area = "" }, new AjaxOptions
    {
        HttpMethod = "GET"
    }))
    {
        @Html.DropDownListFor(m => m.ReceiverId, ViewBag.Users as IEnumerable<SelectListItem>, new { @class = "form-control", id = "receiverId" })
        @Html.EditorFor(m => m.Title, null, new { id = "title", name = "title", @class = "form-control" })
        @Html.EditorFor(m => m.Content, null, new { type = "text", @class = "form-control" })
        <input type="submit" id="sendmessage" value="Send" class="btn btn-default" />
    }
    <input type="hidden" id="displayname" />
    <ul id="discussion" class="list-group">
        @Html.Action("LoadChatHistory")
        //TODO: Load history;
    </ul>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}