@model QMS.Web.Models.Documents.DocumentCreateModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Documents", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <legend>Create new document</legend>
    <div class="form-group">
        @Html.EditorFor(m => m.Title)
        @Html.EditorFor(m => m.Description)
        @Html.EditorFor(m => m.Code)
        @Html.DropDownListFor(m => m.ProcedureId, ViewBag.Procedures as IEnumerable<SelectListItem>)
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a href="~/admin/documents" class="btn btn-default">Back to list</a>
    </div>
}

