@model QMS.Web.Models.Records.RecordCreateViewModel
@{
    ViewBag.Title = "CreateRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>
        <span class="label label-default">Areas</span>
        <small>@ViewBag.Title</small>
    </h1>
</div>

@using (Html.BeginForm("CreateRecord", "Areas", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.DocumentId, new { @class = "form-label" })
        @Html.DropDownListFor(
                           m => m.DocumentId,
                           ViewBag.Documents as IEnumerable<SelectListItem>,
                           new { @class = "form-control" })
    </div>

        @Html.EditorFor(m => m.Title)
        @Html.EditorFor(m => m.Description)
        @Html.EditorFor(m => m.DateCreated)
        @Html.EditorFor(m => m.FinishingDate)

        <div class="form-group">
            @Html.LabelFor(m => m.Status, new { @class = "form-label" })
            @Html.EnumDropDownListFor(m => m.Status, new { @class = "form-control" })
        </div>
        @Html.EditorFor(m => m.StatusDate, null, new { @class = "datepicker form-control" })

        <input type="submit" value="Create" class="btn btn-default" />
}

@section scripts{
    <script>
        $('.datepicker').datepicker({
            format: 'dd-mm-yyyy',
            dateFormat: 'dd-mm-yy'
        });
    </script>
}