@model QMS.Web.ViewModels.Divisions.DivisionDetailsViewModel
@{
    ViewBag.Title = "Details";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>
        <span class="label label-default">Divisions</span>
        <small>Details</small>
    </h1>
</div>

<dl class="dl-horizontal">
    <dt>@Html.NameFor(m => m.Name)</dt>
    <dd>@Html.DisplayTextFor(m => m.Name)</dd>

    <dt>@Html.NameFor(m => m.Description)</dt>
    <dd>@Html.DisplayTextFor(m => m.Description)</dd>
    <dt></dt>
    <dd>
        <a href="~/admin/divisions/edit?id=@Model.Id" class="btn btn-primary">Edit</a>
        <a href="~/admin/divisions/delete?id=@Model.Id" class="btn btn-danger">Delete</a>
    </dd>
</dl>

<div class="list-group col-md-6 col-md-offset-3">
    <a href="~/admin/departments" class="list-group-item list-heading">@Html.DisplayNameFor(model => model.Departments) (@Model.Departments.Count)</a>
    @if (Model.Departments.Count != 0)
    {
        foreach (var department in Model.Departments)
        {
            <a href="~/admin/departments/details/@department.Id" class="list-group-item">
                @department.Name
            </a>
        }
    }
    else
    {
        <span>No documents yet to display.</span>
    }
</div>
<div class="clearfix"></div>
