@model QMS.Web.Models.Departments.DepartmentCreateModel
@{
    ViewBag.Title = "Create";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6 col-md-offset-3">
    <h1>Create Department</h1>
    @using (Html.BeginForm("Create", "Departments", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.EditorFor(m => m.Name)
        @Html.EditorFor(m => m.Description)
        @Html.LabelFor(m => m.DivisionId)
        @Html.DropDownListFor(m => m.DivisionId,
                                    ViewBag.Divisions as IEnumerable<SelectListItem>,
                                        new { @class = "form-control" })
        <br />
        <input type="submit" value="Create" class="btn btn-primary" />
    }
</div>

<div class="clearfix"></div>