@model QMS.Web.Models.Departments.DepartmentDetailsViewModel

@{
    ViewBag.Title = "Details";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>
        <span class="label label-default">Departments</span>
        <small>@ViewBag.Title</small>
    </h1>
</div>

<dl class="dl-horizontal">
    <dt>@Html.NameFor(m => m.Name)</dt>
    <dd>@Html.DisplayTextFor(m => m.Name)</dd>

    <dt>@Html.NameFor(m => m.Description)</dt>
    <dd>@Html.DisplayTextFor(m => m.Description)</dd>

    <dt>@Html.NameFor(m => m.Division.Name)</dt>
    <dd>@Html.DisplayTextFor(m => m.Division.Name)</dd>
    <dt></dt>
    <dd>
        <a href="~/admin/departments/edit?id=@Model.Id" class="btn btn-primary">Edit</a>
        <a href="~/admin/departments/delete?id=@Model.Id" class="btn btn-danger">Delete</a>
    </dd>
</dl>

<div class="list-group col-md-6 col-md-offset-3">
    <a href="~/admin/departments" class="list-group-item list-heading">@Html.DisplayNameFor(model => model.Areas) (@Model.Areas.Count)</a>
    @if (Model.Areas.Count != 0)
    {
        foreach (var area in Model.Areas)
        {
            <a href="~/admin/areas/details/@area.Id" class="list-group-item">
                @area.Name
            </a>
        }
    }
    else
    {
        <span>No areas yet to display.</span>
    }
</div>
<div class="clearfix"></div>
