@model QMS.Web.Models.Departments.DepartmentCreateModel
@{
    ViewBag.Title = "Edit";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6 col-md-offset-3">
    <h1>Edit Department</h1>
    @using (Html.BeginForm("Update", "Departments", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Id)
        @Html.EditorFor(m => m.Name)
        @Html.EditorFor(m => m.Description)

        <div class="form-group">
            @Html.LabelFor(m => m.DivisionId, new { @class = "form-label" })
            @Html.DropDownListFor(m => m.DivisionId, ViewBag.Divisions as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
        <br />
        <input type="submit" value="Update" class="btn btn-primary" />
    }
</div>

<div class="clearfix"></div>