@model QMS.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Account";
}

<div class="page-header">
    <h1>
        <span class="label label-default">@ViewBag.Title</span>
    </h1>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    @if (Model.HasPassword)
            {
        @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-default" })
    }
    else
    {
        @Html.ActionLink("Create", "SetPassword")
    }

    @using (Html.BeginForm("Update", "Users", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        
    }
</div>
