@model ICollection<QMS.Web.ViewModels.Messages.MessageDetailsViewModel>

@foreach (var message in Model)
{
    var receivers = String.Join(", ", message.Users.Select(u => u.UserName));
    <li class="list-group-item">
        <div class="well well-lg">
            <p class="text-muted">@message.CreatedOn.ToShortDateString() @message.CreatedOn.ToShortTimeString()</p>
            <p class="text-info">from @message.Sender.UserName to @receivers</p>
            <p class="panel-title">@message.Title</p>
            <p>@message.Content</p>
        </div>
    </li>
}
