@model ICollection<QMS.Web.Models.Messages.MessageDetailsViewModel>

@foreach (var message in Model)
{
    var receivers = String.Join(", ", message.Users.Select(u => u.UserName));
    <li class="list-group-item">
        <div class="well well-lg">
            <p><strong>@message.CreatedOn</strong></p>
            <p><strong>from @message.Sender.UserName to @receivers</strong></p>
            <p><strong>@message.Title</strong></p>
            <p><strong>@message.Content</strong></p>
        </div>
    </li>
}
