<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @if (Request.IsAuthenticated)
                {
                    <span id="new-message-note">@Html.Action("HasNewMessages", "Messages", new { area = "" })</span>

                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Partial("_PrivateMenuOptions")
                    @Html.Partial("_AdministrationMenuOptions")
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Company structure <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="~/divisions">Divisions</a></li>
                            <li><a href="~/departments">Departments</a></li>
                            <li><a href="~/companyareas">Areas</a></li>
                            <li><a href="~/procedures">Procedures</a></li>
                            <li><a href="~/documents">Documents</a></li>
                            <li><a href="~/users">Users</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @if (TempData["Success"] != null)
    {
        @Html.Partial("Notifications/_Success")
    }
    else if (TempData["Error"] != null)
    {
        @Html.Partial("Notifications/_Error")
    }

    <div class="container body-content">
        <div id="wrapper">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/gridmvc")
    @Scripts.Render("~/bundles/signalr")
    <script src="signalr/hubs"></script>
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.alert').slideDown(1000);
            $('.alert').fadeOut(2000);
        });

        // Messenger
        $(function () {
            // Declare a proxy to reference the hub.
            var chat = $.connection.chatHub;
            // Create a function that the hub can call to broadcast messages.
            chat.client.broadcastMessage = function (senderUsername, title, content, sentOn) {
                // Html encode display name and message.
                $.ajax({
                    url: "/messages/HasNewMessages",
                    success: function (data) {
                        $('#new-message-note').html(data);
                    }
                })
                var encodedName = $('<div />').text(senderUsername).html();
                var encodedTitle = $('<div />').text(title).html();
                var encodedContent = $('<div />').text(content).html();
                var encodedSentOn = $('<div />').text(sentOn).html();
                // Add the message to the page.
                $('#discussion').prepend(
                    '<li class="list-group-item">' +
                        '<div class="well well-lg">' +
                        '<p class="text-muted">' + encodedSentOn + '</p>' +
                        '<p class="text-info">' + encodedName + '</p>' +
                        '<p class="panel-title">' + encodedTitle + '</p>' +
                        '<p>' + encodedContent + '</p>' +
                        '</div>' +
                        '</li>');
            };

            $('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    var receiverId = $('#receiverId').val();
                    var content = $('#Content').val();
                    var title = $('#Title').val();

                    chat.server.send(receiverId, title, content);
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });
            });
        });
    </script>
</body>
</html>
