@model QMS.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        @Html.EditorFor(m => m.UserName)

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        @Html.TextBoxFor(m => m.Password)
        @Html.TextBoxFor(m => m.ConfirmPassword)
        @Html.EditorFor(m => m.FirstName)
        @Html.EditorFor(m => m.LastName)
        <input type="submit" name="name" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
