@model QMS.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


@using (Html.BeginForm("Register", "Users", FormMethod.Post, new { @class = "form-horizontal col-md-6 col-md-offset-3", role = "form" }))
{
    <legend>@ViewBag.Title</legend>
    @Html.AntiForgeryToken()
    <fieldset>
        @Html.EditorFor(m => m.UserName)

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "form-label" })
            <div>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m)
            </div>
        </div>
        @Html.EditorFor(m => m.FirstName)
        @Html.EditorFor(m => m.LastName)
        <div class="form-group">
            <input type="submit" name="name" value="Register" class="btn btn-primary" />
        </div>
    </fieldset>
}
<div class="clearfix"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
